*{
	margin: 0;
	padding: 0;
}
.logo{
	display: inline-block;
	vertical-align: middle;
	width: 7%;
}
.logo img {
  height: auto;
  width: 100%;
}
body{
    margin: 0;
    font-family: 'Trebuchet MS',sans-serif;
}
.container{
	height: 100vh;
	width: 100%;
	background-image: url(../images/background.jpg);
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	position: relative;
}

.nav {
  display: inline-block;
  vertical-align: middle;
  width: 92%;
}

.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0587f2;
}
.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #52aefa;
}

.homeContainer{
	display: inline-block;
	vertical-align: middle;
	padding: 50px;
}
.homeContainer img{
	width: 70%;
	height: auto;
	border: 10px solid #515b63;
	border-radius: 20px;

}
.homeNameText{
	vertical-align: middle;
	background-color: lightgrey;
	width: 210px;
	padding: 25px;
	margin: 20px;
	border-radius: 25px;
}
.homeText{
	vertical-align: middle;
	background-color: lightgrey;
	width: 400px;
	padding: 25px;
	margin:5px;
	margin-left: 50px;
	border-radius: 25px;
	font-size: 115%;
}
.homebtn{
	display: inline-block;
	background: #0587f2;
	border-radius: 6px;
	padding: 10px;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	margin-left: 180px;
	font-size: 90%;
}
.homebtn:hover{
	background: #52aefa;
}

.mainBox{
	background-color: lightgrey;
	width: 300px;
	border: 10px solid green;
	padding: 50px;
	margin: 20px;
	border-radius: 25px;
}

