*{
	margin: 0;
	padding: 0;
}
body{
    margin: 0;
    font-family: 'Montserrat',sans-serif;
}
.container{
	height: 100vh;
	width: 100%;
	background-image: url(../images/background.jpg);
	background-position: center;
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	position: relative;
}
.navbar{
	width: 100%;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;
}
.navbar .btn{
	display: inline-block;
	background: linear-gradient(45deg, #325afa, #55e66b);
	border-radius: 6px;
	padding: 10px 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
.logo{
	width: 80px;
	cursor: pointer;
}
nav{
	flex: 1;
	padding-left: 60px;
}
nav ul li{
	display: inline-block;
	list-styles: none;
	margin: 0px 20px;
}
nav ul li a{
	text-decoration: none;
	color: #333;
}
